body {
    background-image: url('./../img/wallpaper-pokemon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;    
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.main-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    box-sizing: border-box;
}

.container-add {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#tabla {
    width: 60%;
    margin: 0 auto;
}

th, td {
    border: 1px solid #ddd; /* Añade bordes a las celdas */
    padding: 8px; /* Añade relleno a las celdas */
    text-align: left; /* Alinea el texto a la izquierda */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    width: 400px;
    text-align: center;
    box-sizing: border-box;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.add-btn, .edit-btn, .delete-btn {
    background: #4CAF50;
    color: white;
    margin: 0 auto;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.addNewPokemon {
    display: flex;
    height: 30%;
    padding: 20px;
}

.add-btn {
  
}

.edit-btn {
    background: #c6cc11;
}

.delete-btn {
    background: #da1919;
}