.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.add-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #4CAF50;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.watch-btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #263ccc;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.edit-btn {
    width: 60px;  /* Ancho del botón */
    height: 60px; /* Alto del botón */
    border-radius: 50%; /* Lo hace circular */
    background: #c6cc11;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.delete-btn {
    width: 60px;  /* Ancho del botón */
    height: 60px; /* Alto del botón */
    border-radius: 50%; /* Lo hace circular */
    border: none;
    background: linear-gradient(145deg, #bd4b4b, #a83e3e); /* Fondo con degradado */
    font-size: 24px;
    font-weight: bold;
    color: #f6f6f6;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.delete-btn:active {
    box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff; /* Relieve invertido al hacer clic */
    transform: scale(0.95); /* Pequeña reducción al presionar */
}
